body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #4B4B4B;
}

a {
    color: #4B4B4B;
    text-decoration: none;
    transition: 200ms;
}

a:hover {
    color: #f00;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1088px;

    margin: 0 auto;

}

.container-default {
    padding: 100px 0;
}

.container-flex {
    display: flex;
    justify-content: space-between;
}

.title {
    margin: 0;
}

.title-primary {
    font-size: 60px;
}

.title-main {
    font-size: 40px;
}

.title-default {
    font-size: 32px;
}

.title-alt {
    font-size: 24px;
}

.btn {
    margin: 0;
    padding: 0;

    border: 0;

    background: none;
    outline: none;
    cursor: pointer;
}

.btn-wrap {
    display: flex;

    justify-content: center;
    align-items: center;
}

.btn-l {
    height: 80px;

    padding: 0 80px;

    border-radius: 40px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}

.btn-red {
    background-color: #f00;
    color: #fff;
}

.image-wrapper {
    margin: 0;
}

.image-wrapper img {
    display: block;
}

.header {
    position: fixed;

    top: 0;
    left: 0;

    height: 60px;
    width: 100%;

    z-index: 999;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}


.logo {
    font-size: 46px;
    font-weight: 900;

    text-decoration: none;

    color: #707070;
}

.nav-list {
    display: flex;
    
    margin: 0;
    padding: 0;

    list-style: none;
}

.nav-item:not(:last-child) {
    margin-right: 20px;
}

.nav-label {
    text-transform: uppercase;
}

.section-hero {
    height: 100vh;
}

.section-hero-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}
.hero {
    max-width: 635px;
    
    font-weight: 300;

    text-align: center;
}

.section-projects {
    padding-bottom: 100px;

    background-color: #2A2929;
}

.projects-list {
    position: relative;

    top: -75px;

    display: flex;
    flex-wrap: wrap;

    width: 100%;

    margin-bottom: -75px;
}


.project {
    position: relative;

    height: 230px;
    width: 33.33%;


}

.project:hover .project-bg {
    opacity: 1;
}

.project-bg {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    padding: 30px 15px;

    background-color: rgba(255, 0, 0, 0.5);
    opacity: 0;

    transition: 200ms;
}

.project-title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

.link-white {
    color: #fff;
}

.show-more {
    display: block;

    margin: 100px 0 0; 

    text-decoration: underline;

    text-align: center;

}

.contact-title {
    font-size: 21px;
}

.contact-address {
    margin: 60px 0 30px;

    font-size: 14px;

}

.socials-list {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;
}

.social-item:not(:last-child) {
    margin-right: 5px;
}



.black-section {
    display: flex;
    justify-content: space-around;

    padding: 60px 130px;

    height: 460px;

    background-color: #000;
    color: #fff;
}

.black-section-header {
    margin-bottom: 0 50px 0 0; 
    padding: 0;

    font-weight: 700;
}

.black-section-small-text {
    font-size: 18px;
}

.black-section-item:not(:last-child) {
    padding-right: 15px;
}

.talento-header {
    display: flex;

    border-bottom: 3px solid #303030;
}
.side-header {
    margin: 260px 300px 0 0;

    color: #000;
    font-weight: 700;
}


.side-text {
    margin-top: 100px;
}

.side-text:last-child {
    padding-bottom: 100px;
}
.side-text-header {
    color: #f00;
}
